<div class="c-sidebar-navigation">
  <p class="c-sidebar-navigation-links_title">Popular Tags:</p>
    {{#foreach navigation}}
        <a class="c-sidebar-navigation__item" href="{{url absolute="true"}}" title="{{label}}">
            {{label}}
        </a>
    {{/foreach}}
</div>
