/*
|-------------------------------------------------------------------------------
| Sidebar navigation
|-------------------------------------------------------------------------------
*/
.c-sidebar-navigation {
  font-size: 0.9em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-grayMedium;
}

.c-sidebar-navigation__item {
  // padding: 5px;
  // font-weight: bold;
  // display: inline-block;
  padding: 0.3em 0.6em;
  font-weight: bold;
  display: inline-block;
  background-color: orange;
  border-radius: 5px;
  margin: 0.1em 0.1em;
}
